@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalnia:wght@100..700&family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&family=Metrophobic&family=Nabla&family=Silkscreen:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: auto !important;
}
/* Global scrollbar style */
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: #f1f1f1; /* light gray */
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background-color: #134562; /* dark blue */
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
  background-color: #0f3a4d; /* darker on hover */
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #134562; /* Dark blue thumb */
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #0f3a4d; /* Slightly darker on hover */
}
